<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

  <div class="div-header" (click)="goToBack()">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <ion-label>Editar cuenta</ion-label>
  </div>

  <div class="imagen">
    <img src="assets/img/foto_perfil.png">
    <ion-icon name="add-circle-sharp"></ion-icon>
  </div>

<!-- Nombre -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Nombre</ion-label>
    <ion-input class="p" value="{{ usuario.nombre }}" [readonly]="!isNameEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isNameEditing" (click)="enableNameEditing()"></ion-icon>
  <div class="edits" *ngIf="isNameEditing">
    <ion-icon name="close-sharp" *ngIf="isNameEditing" (click)="cancelNameEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isNameEditing" (click)="saveName()"></ion-icon>
  </div>  
</div>
<hr class="divider">

<!-- Apellido -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Apellido</ion-label>
    <ion-input class="p" value="{{ usuario.apellido }}" [readonly]="!isApellidoEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isApellidoEditing" (click)="enableNameEditing()"></ion-icon>
  <div class="edits" *ngIf="isApellidoEditing">
    <ion-icon name="close-sharp" *ngIf="isApellidoEditing" (click)="cancelNameEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isApellidoEditing" (click)="saveApellido()"></ion-icon>
  </div>  
</div>
<hr class="divider">

<!-- Cédula -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Cedula</ion-label>
    <ion-input class="p" value="{{ usuario.cedula }}" [readonly]="!isApellidoEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isCedulaEditing" (click)="enableCedulaEditing()"></ion-icon>
  <div class="edits" *ngIf="isCedulaEditing">
    <ion-icon name="close-sharp" *ngIf="isCedulaEditing" (click)="cancelCedulaEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isCedulaEditing" (click)="saveCedula()"></ion-icon>
  </div>  
</div>
<hr class="divider">

<!-- Cambiar Datos -->

<!-- Año -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Año</ion-label>
    <ion-input class="p" value="{{ usuario.nivel }}" [readonly]="!isApellidoEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isCedulaEditing" (click)="enableCedulaEditing()"></ion-icon>
  <div class="edits" *ngIf="isCedulaEditing">
    <ion-icon name="close-sharp" *ngIf="isCedulaEditing" (click)="cancelCedulaEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isCedulaEditing" (click)="saveCedula()"></ion-icon>
  </div>  
</div>
<hr class="divider">

<!-- Facultad -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Facultad</ion-label>
    <ion-input class="p" value="{{ usuario.facultad }}" [readonly]="!isApellidoEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isCedulaEditing" (click)="enableCedulaEditing()"></ion-icon>
  <div class="edits" *ngIf="isCedulaEditing">
    <ion-icon name="close-sharp" *ngIf="isCedulaEditing" (click)="cancelCedulaEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isCedulaEditing" (click)="saveCedula()"></ion-icon>
  </div>  
</div>
<hr class="divider">

<!-- Carrera -->
<div class="div-info">
  <div class="div-div-info">
    <ion-label class="lbl">Carrera</ion-label>
    <ion-input class="p" value="{{ usuario.carrera }}" [readonly]="!isApellidoEditing"></ion-input>
  </div>
  <ion-icon name="create-outline" *ngIf="!isCedulaEditing" (click)="enableCedulaEditing()"></ion-icon>
  <div class="edits" *ngIf="isCedulaEditing">
    <ion-icon name="close-sharp" *ngIf="isCedulaEditing" (click)="cancelCedulaEditing()"></ion-icon>
    <ion-icon name="checkmark-sharp" *ngIf="isCedulaEditing" (click)="saveCedula()"></ion-icon>
  </div>  
</div>
<hr class="divider">
  

</ion-content>
