.div-header {
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.div-header ion-icon {
    font-size: 30px;
}

.div-header ion-label {
    font-family: 'Inter-SemiBold';
    font-size: 20px;
}

.imagen {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.imagen img {
    border-radius: 100%;
}

.imagen ion-icon {
    font-size: 30px;
    opacity: 0.8;
    margin-left: -25px
}

.div-info {
    display: flex;
    width: 100%;    
    padding-inline: 30px;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
}

.div-div-info .lbl {
    font-family: 'Inter-SemiBold';
    opacity: 0.5;
}

.div-div-info .p {
    margin: 0;
    font-family: 'Inter-Regular';
    font-size: 18px;
}

.sc-ion-input-md-h:not(.legacy-input) {
    min-height: 38px;
}

.sc-ion-input-md-h {
    --highlight-color-focused: none;
}

.div-info ion-icon {
    font-size: 30px;
    color: var(--ion-color-blanco);
}

.edits {
    font-size: 30px;
    color: var(--ion-color-blanco);
    display: flex;
}

.divider {          
    border-top: 1px solid var(--ion-color-dorado);
    width: 70%;
    margin-right: 0;
}

@media (max-height: 843px) {
    .imagen {
        margin-bottom: 10px;
    }
}

