<ion-content>
  <ion-header [translucent]="true" collapse="fade"></ion-header>

  <div class="div-information">
    <ion-icon name="chevron-back-sharp" (click)="regresar()"></ion-icon>
    <h1>Tutorial</h1>
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  </div>
  <hr class="divider">

  <!-- Grupo de accordions que contendran las explicaciones de las diferentes funcionalidades dentro de la apliacion-->
  <ion-accordion-group [multiple]="false">
    <!--Accordion #1-->
    <ion-accordion value="first">
      <ion-item slot="header">
        <ion-icon name="compass-outline"></ion-icon>
        <ion-label>Sobre navegar en la APP</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img class="video" src="/assets/gif/navegacion.gif"></ion-img>
        <h2>Navegación por Pestañas</h2>
        <p> Ofrece una navegación simple basada en pestañas que están
          contenidas
          en la parte inferior de la pantalla.</p>
        <p>Al seleccionar una de las pestañas, se muestra contenido y
          funcionalidades correspondientes.</p>
      </div>
    </ion-accordion>


    <!--Accordion #1-->
    <ion-accordion value="second">
      <ion-item slot="header">
        <ion-icon name="search-outline"></ion-icon>
        <ion-label>Sobre la búsqueda de Artículos</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img class="video" src="/assets/gif/busqueda.gif"></ion-img>
        <h2>Buscador</h2>
        <p>Presiona la segunda pestaña y podrás buscar un artículo de tu
          interés.</p>
        <h2>Si te interesa conocer más de
          un artículo.</h2>
        <ion-img class="video" src="/assets/gif/buscar.gif"></ion-img>
        <p>Presiona el buscador e ingresa el nombre del artículo del que quieras
          conocer más información.</p>
      </div>
    </ion-accordion>

    <!--Accordion #2-->
    <ion-accordion value="fourth">
      <ion-item slot="header">
        <ion-label><ion-icon name="qr-code-outline"></ion-icon>Cómo usar el Scanner de códigos QR</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img class="video" src="/assets/gif/qr.gif"></ion-img>
        <h2>Scanner QR</h2>
        <p>Para poder utilizar el lector de codigos QR debes dirigirte a la opcion que esta en medio del menu.
          esto activara tu camara, una vez con esta puedes enfocar el codigo QR, y asi recibiras la informacion de este.
        </p>
      </div>
    </ion-accordion>


    <!--Accordion #3-->
    <ion-accordion value="fifth">
      <ion-item slot="header">
        <ion-icon name="hourglass-outline"></ion-icon>
        <ion-label>Cómo utilizar la línea de tiempo</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img class="video" src="/assets/gif/timeline.gif"></ion-img>
        <h2>En la línea de tiempo podrás ver cronológicamente cada artículo.</h2>
        <p>Desplaza a los lados para ver
          los artículos.</p>
      </div>
    </ion-accordion>


    <!--Accordion #4-->
    <ion-accordion value="sixth">
      <ion-item slot="header">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>Gestión de Perfil</ion-label>
      </ion-item>
      <div class="ion-padding" slot="content">
        <ion-img class="video" src="/assets/gif/cuenta.gif"></ion-img>
        <h2>Para gestionar tu perfil</h2>
        <p>En la pestaña de perfil podrás verificar y actualizar tu información
          personal, cambiar tu foto de perfil y cerrar sesión.</p>
        <h2>Presiona el botón de "Editar"
          si quieres editar tus datos personales.</h2>
        <ion-img class="video" src="/assets/gif/editar.gif"></ion-img>
        <p>Ahora selecciona y escribe en
          el campo que quieras editar,<br>No te olvides de confirmar las
          modificaciones.</p>
      </div>
    </ion-accordion>
  </ion-accordion-group>

</ion-content>