<ion-header [translucent]="true" collapse="fade">
</ion-header>

<ion-content [fullscreen]="true">
  <div class="div-information">
    <ion-icon name="chevron-back-sharp" (click)="regresar()"></ion-icon>
    <h1>Tutorial</h1>
    <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  </div>
  <swiper-container navigation="true">
    <swiper-slide>
        <ion-content class="ion-padding" [fullscreen]="true">
        <h1>Sobre La Navegación en la APP</h1>
        <ion-img class="video" src="\assets\img\TUTORIAL1GIF.gif"></ion-img>
        <ion-card>
          <ion-card-content>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>5. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
        </ion-card>
        </ion-content>
    </swiper-slide>


    <swiper-slide>
      <ion-content class="ion-padding" [fullscreen]="true">
      <h1>Sobre la busqueda de Artículos</h1>
        <ion-img class="video" src="\assets\img\TUTORIAL1GIF.gif"></ion-img>
        <ion-card>
          <ion-card-content>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>5. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
        </ion-card>
        </ion-content>
    </swiper-slide>

    <swiper-slide>
      <ion-content class="ion-padding" [fullscreen]="true">
        <h1>Sobre scanner de códigos QR de artículos</h1>
          <ion-img class="video" src="\assets\img\TUTORIAL1GIF.gif"></ion-img>
            <ion-card>
              <ion-card-content>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
              <ion-card-content>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
              <ion-card-content>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
              <ion-card-content>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
              <ion-card-content>5. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          </ion-card>
      </ion-content>
    </swiper-slide>

    <swiper-slide>
      <ion-content class="ion-padding" [fullscreen]="true">
      <h1>Sobre la linea de tiempo de artículos</h1>
        <ion-img class="video" src="\assets\img\TUTORIAL1GIF.gif"></ion-img>
        <ion-card>
          <ion-card-content>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>5. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
        </ion-card>
        </ion-content>
    </swiper-slide>

    <swiper-slide>
      <ion-content class="ion-padding" [fullscreen]="true">
      <h1>Sobre la gestión de perfil</h1>
        <ion-img class="video" src="\assets\img\TUTORIAL1GIF.gif"></ion-img>
        <ion-card>
          <ion-card-content>1. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>2. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>3. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>4. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
          <ion-card-content>5. Lorem ipsum dolor, sit amet consectetur adipisicing elit.</ion-card-content>
        </ion-card>
        </ion-content>
    </swiper-slide>
  </swiper-container>
  <hr class="divider">
</ion-content>