ion-back-button {
    --icon-font-size: 35px;
    --icon-margin-top: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-top: 76px;
    position: relative;
}

.div-imagen {
    display: flex;
    justify-content: center;
    width: 100%;
  }

.div-imagen img {
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    height: 140px;
}

h1 {
    font-family: 'inter-regular';
    font-size: 32px;
    text-align: center;
}

p {
    font-family: 'inter-regular';
    font-size: 16px;
    text-align: center;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 25px;
}

.ion-item-inputs {
    --background: var(--ion-color-blanco);
    color: var(--ion-color-negro);
    border-radius: 7px;
    margin-inline: 40px;
    margin-bottom: 10px;
}

.ion-valid.sc-ion-input-md-h {
    --highlight-color: var(--ion-color-dorado);
    color: var(--ion-color-negro);
    font-family: 'inter-regular';    
}

ion-button {
    margin-inline: 40px;
    --padding-top: 22px;
    --padding-bottom: 22px;
    --background: var(--ion-color-dorado);
    --border-radius: 10px;
    color: black;
    font-size: 16px;
    font-family: 'inter-regular';
    --box-shadow: 0 2px 6px 0 rgb(0, 0, 0, 0.25);
    --padding-top: 25px;
    --padding-bottom: 25px;
}

.button-round {
    --border-radius: 7px;
}

.nombre {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
    padding: 20px;
  }

h3 {
    text-align: center;
    font-family: 'Kameron-regular';
    font-size: 23px;
    margin-top: auto;
}

@media (max-height: 843px) {
    ion-back-button {
        --icon-font-size: 25px;
        --icon-margin-top: 10px;
    }

    .container {
        margin-top: 30px;
    }
  
    .nombre {
        padding: 10px;
    }
  
    .div-imagen img {
        width: 120px;
        height: 120px;
    }

    h1 {
        font-size: 27px;
    }

    h3 {
        font-size: 20px;
    }
  }
