<ion-buttons slot="start">
  <ion-back-button defaultHref="/login"></ion-back-button>
</ion-buttons>  

<ion-content [fullscreen]="true">

<div class="container">

<div class="div-imagen">
  <img src="../../assets/img/buho-logo.svg"/> 
</div>  

<h1>Olvidó su contraseña?</h1>

<p>Escriba tu correo para recibir un código de confirmación para establecer una nueva contraseña</p>

<ion-item class="ion-item-inputs">
  <ion-input class="a" type="text" label="Correo electronico" labelPlacement="floating" placeholder="Correo@ejemplo.com" [(ngModel)]="email"></ion-input>         
</ion-item> 

<ion-button class="button-round button-native" expand="full">Confirmar correo</ion-button>

</div>

<div class="nombre">
<h3>Museo<br>Tecnología en el tiempo</h3>
</div>

</ion-content>
