
ion-avatar{
    
    width: 30%;
    height: auto;
}

ion-icon{
   margin-right: 20px;
   margin-left: 20px;
}


html{
    background-color: #252525;
    padding-top: 50px;
    
}
hr{
    background-color: gold;
}

ion-card-title{
    color: white;
    font-size: medium;
}

ion-card-subtitle{
    padding-left: 15px;
}
