<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container (slidechange)="swiperSlideChanged($event)" [pagination]="{clickable:true, dynamicBullets:true}"
    [zoom]="true">
    <swiper-slide>
      <h1>Tarjeta Perforada</h1>
      <h3>Herman noseque</h3>
      <div>
        <img src="/assets/img/iPhone.jpeg" />
      </div>
      <h2>1960</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nisi. Minus rem expedita obcaecati molestias,
        dolore autem sed in hic aliquid impedit! Ducimus voluptatem neque, modi soluta obcaecati architecto maiores.</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Tarjeta Perforada2</h1>
      <h3>Herman noseque</h3>
      <div>
        <img src="/assets/img/iPhone.jpeg" />
      </div>
      <h2>1960</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nisi. Minus rem expedita obcaecati molestias,
        dolore autem sed in hic aliquid impedit! Ducimus voluptatem neque, modi soluta obcaecati architecto maiores.</p>
    </swiper-slide>

    <swiper-slide>
      <h1>Tarjeta Perforada3</h1>
      <h3>Herman noseque</h3>
      <div>
        <img src="/assets/img/iPhone.jpeg" />
      </div>
      <h2>1960</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde, nisi. Minus rem expedita obcaecati molestias,
        dolore autem sed in hic aliquid impedit! Ducimus voluptatem neque, modi soluta obcaecati architecto maiores.</p>
    </swiper-slide>
  </swiper-container>

</ion-content>