<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

    <div class="div-info">
        <img src="{{usuario.foto}}">
        <div class="div-info-datos">
            <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
            <h2>{{ usuario.cedula }}</h2>
            <h3>{{ usuario.rol }}</h3>
        </div>
        <ion-icon name="create-outline" (click)="goToEditAccount()"></ion-icon>
    </div>

    <div class="div-contra">
        <ion-icon name="lock-closed"></ion-icon>
        <ion-label>meg******54f</ion-label>
    </div>
    <div class="div-phone">
        <ion-icon name="call-sharp"></ion-icon>
        <ion-label>+507 6307-3241</ion-label>
    </div>

    <hr class="divider">

    <ion-label class="lbl">Correo</ion-label>
    <p class="p">{{ usuario.correo }}</p>
    
    <ion-label class="lbl">Facultad</ion-label>
    <p class="p">{{ usuario.facultad }}</p>

    <ion-label class="lbl">Carrera</ion-label>
    <p class="p">{{ usuario.carrera }}</p>

    <hr class="divider">

    <div class="cerrar" (click)="cerrarSesion()">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
    </div>
</ion-content>
