<ion-header [translucent]="true">
  
</ion-header>

<ion-content [fullscreen]="true">

    <div class="div-info">
        <img src="{{usuario.foto}}">
        <div class="div-info-datos">
            <h1>{{ usuario.nombre }} {{ usuario.apellido }}</h1>
            <h2>{{ usuario.cedula }}</h2>
            <h3>{{ usuario.rol }}</h3>
        </div>
        <ion-icon name="create-outline" (click)="goToEditAccount()"></ion-icon>
    </div>

    <hr class="divider">

    <ion-label class="lbl">Usuario</ion-label>
    <p class="p">{{ usuario.nombre_usuario }}</p>

    <hr class="divider divider2">

    <ion-label class="lbl">Año</ion-label>
    <p class="p">{{ usuario.nivel }}</p>

    <hr class="divider divider2">

    <ion-label class="lbl">Facultad</ion-label>
    <p class="p">{{ usuario.facultad }}</p>

    <hr class="divider divider2">

    <ion-label class="lbl">Carrera</ion-label>
    <p class="p">{{ usuario.carrera }}</p>

    <hr class="divider divider2">

    <div class="cerrar" (click)="cerrarSesion()">
        <ion-icon name="exit-outline"></ion-icon>
        <ion-label>Cerrar sesión</ion-label>
    </div>
    
</ion-content>