<ion-buttons slot="start">
  <ion-back-button defaultHref="/articulo"></ion-back-button>
</ion-buttons>  

<ion-content [fullscreen]="true" color="light">
  <ion-card class="titulo_card">
    <div class="ion-text-center">
      <ion-card-title>{{ nombreArticulo }}</ion-card-title>
    </div>
  </ion-card>
  <video width="100%" controls>
    <source [src]="videoUrl" type="video/mp4">
  </video>
  <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-card-title>Info</ion-card-title>
              <ion-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut saepe mollitia explicabo optio asperiores labore temporibus ullam cumque</ion-card-subtitle>
            </ion-col>
          </ion-row>
      
          
          <ion-row>
            <ion-col>
              <ion-card-title>Info</ion-card-title>
              <ion-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut saepe mollitia explicabo optio asperiores labore temporibus ullam cumque</ion-card-subtitle>
            </ion-col>
          </ion-row>
      
          
          <ion-row>
            <ion-col>
              <ion-card-title>Info</ion-card-title>
              <ion-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut saepe mollitia explicabo optio asperiores labore temporibus ullam cumque</ion-card-subtitle>
            </ion-col>
          </ion-row>
      
          
          <ion-row>
            <ion-col>
              <ion-card-title>Info</ion-card-title>
              <ion-card-subtitle>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut saepe mollitia explicabo optio asperiores labore temporibus ullam cumque</ion-card-subtitle>
            </ion-col>
          </ion-row>
        </ion-grid>
</ion-card>
</ion-content>
