<ion-content [fullscreen]="true">

  <div class="container">
    <div class="center-image">
      <img src="../../assets/img/buho-logo.svg" alt="Logo redondeado" />
    </div>

    <div class="login-container">
      <h1>Iniciar Sesión</h1>

      <div class="form-group">
        <ion-input type="email" placeholder="Correo@ejemplo.com" [(ngModel)]="email"></ion-input>
      </div>
      <div class="form-group">
        <ion-input type="password" placeholder="Contraseña" [(ngModel)]="password"></ion-input>
      </div>

      <div class="checkbox-container">
        <ion-checkbox slot="start" id="remember-password"></ion-checkbox>
        <ion-label for="remember-password">Recordarme</ion-label>
      </div>

      <a class="forgot-password" (click)="goToPasswordRecovery()">¿Olvidaste tu contraseña?</a>
        
      <ion-button class="btn-login custom-btn-login" shape="round" expand="full" (click)="submitLogin()">Entrar</ion-button>
      
      <a class="sign-up" (click)="goToRegistration()">Registrarse</a>
    </div>

    <div class="footer">
      <p>Museo</p>
      <p>Tecnología en el Tiempo</p>
    </div>

  </div>

</ion-content>
