<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <div class="div-imagen">
      <img src="../../assets/img/buho-logo.svg" />
    </div>

    <h1>Iniciar Sesión</h1>
    <form (submit)="submitLogin()">
      <ion-item class="ion-item-inputs">
        <ion-input class="a" type="text" label="Nombre de Usuario" labelPlacement="floating"
        placeholder ="Nombre de Usuario" [(ngModel)]="username" aria-required="true" name="username"></ion-input>
      </ion-item>
    
      <ion-item class="ion-item-inputs">
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" label="Contraseña" labelPlacement="floating"
          placeholder="Contraseña" [(ngModel)]="password" aria-required="true" name="password"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-sharp' : 'eye-sharp'" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
    
      <div class="div-chk_recordarme">
        <ion-checkbox labelPlacement="end" name="recordarme" [(ngModel)]="rememberChecked" (ionChange)="checkBoxChanged($event)" [checked]="rememberChecked">Recordarme</ion-checkbox>
        <a class="recordarme" name="" (click)="goToPasswordRecovery()">Olvidaste tu contraseña?</a>
      </div>
    
      <ion-button class="button-round" expand="full" type="submit">Entrar</ion-button>
    </form>
    
    <div class="space-register">
      <hr class="divider divider1">
      <div class="div-no_reg">
        <a (click)="goToRegistration()">No tienes cuenta? <span class="spn_reg">REGISTRATE</span></a>
      </div>
      <hr class="divider divider2">
    </div>
  </div>
  
    <div class="nombre">
      <h3>Museo<br>Tecnología en el tiempo</h3>
    </div>
</ion-content>