ion-tab-bar {
  --background: transparent;
  border: none;
}

.custom-tab-button {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
.custom-label{
    font-size: 18px;
    font-family: 'Kameron-regular';
    margin: 6px 0 0 3px;
}

.custom-selected-tab {
//  background-color: var(--ion-color-dorado);

  border-radius: 30px;
  border: 1px solid white;
  color: white;
}
