<ion-tabs (ionTabsDidChange)="tabChanged($event)">

  <ion-fab vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button (click)="scan()" class="center-button" [class.custom-selected-tab]="selectedTab === 'qr'">
      <div class="add-circle">
        <ion-icon name="scan-sharp" class="qr"></ion-icon>
      </div>
    </ion-fab-button>
  </ion-fab>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home" [class.custom-selected-tab]="selectedTab === 'home'" >
      <ion-icon name="home-sharp" class="custom-icon"></ion-icon>
      <ion-label class="custom-label">Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search" [class.custom-selected-tab]="selectedTab === 'search'" >
      <ion-icon name="search-sharp" class="custom-icon"></ion-icon>  
      <ion-label class="custom-label">Buscar</ion-label>
    </ion-tab-button>

    <ion-tab-button></ion-tab-button>

    <!-- <ion-tab-button  (click)="scan()" [class.custom-selected-tab]="selectedTab === 'qr'" class="center-button">
      <ion-icon name="scan-sharp" class="qr"></ion-icon>
    </ion-tab-button> -->
    <!--
    <ion-tab-button tab="qr" [class.custom-selected-tab]="selectedTab === 'qr'" >
      <ion-icon name="qr-code-sharp"></ion-icon>
      <ion-label class="custom-label" *ngIf="selectedTab === 'qr'">QR</ion-label>
    </ion-tab-button>
    -->

    <ion-tab-button tab="timeline" [class.custom-selected-tab]="selectedTab === 'timeline'" >
      <ion-icon name="time-sharp" class="custom-icon"></ion-icon>
      <ion-label class="custom-label">Tiempo</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account" [class.custom-selected-tab]="selectedTab === 'account'" >
      <ion-icon name="person-sharp" class="custom-icon"></ion-icon>
      <ion-label class="custom-label">Cuenta</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>