ion-tab-bar {
    --background: transparent;
    border: none;
  }

  .custom-label{
      font-size: 14px;
      font-family: 'inter-regular';
      margin: 0;
  }
  
  .custom-selected-tab {
    color: var(--ion-color-blanco);
  }

  .qr {
    color: var(--ion-color-blanco);
    background: var(--ion-color-dorado);
    padding: 10px;
    border-radius: 100px;
    font-size: 30px;
  }
