<html>

<ion-header [translucent]="true" >
  <ion-toolbar color="dark">
    <ion-button slot="start" fill="clear" size="large" color="light" routerDirection="back">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>prueba </ion-title>
    <div class="main_content_div">
    </div>
    <ion-buttons slot="end" side="end">
      <ion-menu-button color="danger" >
        <ion-icon name="information-circle-outline"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  <ion-content color="dark">
    <ion-item color="dark">
      <ion-button fill="clear">
        <ion-icon name="star" class="foto_icono" size="large"></ion-icon>
      <ion-avatar >
        <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
      </ion-avatar>
    </ion-button>
    </ion-item>
    
    <ion-card-title>Correo </ion-card-title>
    <ion-item color="dark"> 
        <ion-input label="correo.json" labelPlacement="fixed" placeholder="correo.json" color="warning"> </ion-input> 
        <ion-button fill="clear">
        <ion-icon name="create-outline" slot="end" size="large" color="light"></ion-icon>
        </ion-button>
    </ion-item>
    <hr>

    <ion-card-title>Correo </ion-card-title>
    <ion-item color="dark"> 
        <ion-input label="correo.json" labelPlacement="fixed" placeholder="correo.json" color="warning"> </ion-input> 
        <ion-button fill="clear">
        <ion-icon name="create-outline" slot="end" size="large" color="light"></ion-icon>
        </ion-button>
    </ion-item>
    <hr>

    <ion-card-title>Correo </ion-card-title>
    <ion-item color="dark"> 
        <ion-input label="correo.json" labelPlacement="fixed" placeholder="correo.json" color="warning"> </ion-input> 
        <ion-button fill="clear">
        <ion-icon name="create-outline" slot="end" size="large" color="light"></ion-icon>
        </ion-button>
    </ion-item>
    <hr>

    <ion-card-title>Correo </ion-card-title>
    <ion-item color="dark"> 
        <ion-input label="correo.json" labelPlacement="fixed" placeholder="correo.json" color="warning"> </ion-input> 
        <ion-button fill="clear">
        <ion-icon name="create-outline" slot="end" size="large" color="light"></ion-icon>
        </ion-button>
    </ion-item>
    <hr>

    <ion-card-title>Correo </ion-card-title>
    <ion-item color="dark"> 
        <ion-input label="correo.json" labelPlacement="fixed" placeholder="correo.json" color="warning"> </ion-input> 
        <ion-button fill="clear">
        <ion-icon name="create-outline" slot="end" size="large" color="light"></ion-icon>
        </ion-button>
    </ion-item>
    <hr>


  </ion-content>
</html>
