<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true" >
  <div class="div-information">
    <ion-icon name="chevron-back-sharp" (click)="regresar()"></ion-icon>
    <h1>Integrantes</h1>
  </div>
  <hr class="divider">

  <div class="scrolling-wrapper">
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
      <div class="card"><ion-button shape="circle"(click)="buttonClicked()" color="dark" fill="clear"></ion-button></div>
  </div>

  <div class="foto_fondo">
      <div class="foto"></div>
  </div>
  <div class="datos">
    <h3>Cargo</h3>
    <h1>Nombre</h1>
  </div>

</ion-content>