ion-icon {
    font-size: 45px;
    margin-top: 10px;
    margin-right: 10px;
}
  
.div-information {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: 55px;
}

.div-information h1 {
    font-family: 'Jomolhari-Regular';
    font-size: 26px;
}

.divider {    
    height: 1px;
    border-top: 2px solid var(--ion-color-dorado);
    margin-top: 15px;
    margin-left: 19%;
    width: 81%;
}

.scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  
    .card {
      display: inline-block;
    }
  }

  ion-button[shape=circle] {
    --border-radius: 50%;
    width: 56px;
    height: 56px;
}

.foto_fondo{
    background: black;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.foto{
    background-color: white;
    height: 400px;
    width: 300px;
    border-radius: 20px;
}
    