 <ion-buttons slot="start">
  <ion-back-button defaultHref="/articulo"></ion-back-button>
</ion-buttons>

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="div-info">
      <div class="imagenes">
        <img src="{{foto}}" />
      </div>
      <div>
        <div class="div-principio">
          <h1>{{titulo}}</h1>
          <h2>{{categoria}}</h2>
        </div>
        <div class="divider">
          <h3>{{year}}</h3>
          <hr>
        </div>
      </div>
    </div>
    <div class="contenedor-conversaciones" #conversacionesContainer>
      <ion-label
        style="font-size:small; text-align: center; color: #3c3c3c;display: block;font-weight: bold;">Presione
        "CONTINUAR" para seguir con la
        narración</ion-label>
      <div *ngFor="let mensaje of conversacion" class="mensaje"
        [class.emisor]="mensaje.emisor" [class.receptor]="!mensaje.emisor">
        <p>{{ mensaje.mensaje }}</p>
      </div>

    </div>
    <div class="botones-container">
      <ion-button shape="round" class="boton-salir" (click)="navegarAtras()">Salir</ion-button>

      <ion-button
        shape="round"
        class="boton-continuar"
        [class.boton-desactivado]="!hayMensajesPorAgregar()"
        (click)="reproducirSiguienteAudio()"
        (click)="agregarMensaje()">Continuar</ion-button>
    </div>
  </div>
</ion-content>
