<ion-buttons slot="start">
  <ion-back-button defaultHref="/articulo"></ion-back-button>
</ion-buttons>  

<ion-content [fullscreen]="true">
  <div class="contenedor">
    <div class="div-info">
      <div class="imagenes">
        <img src="../../assets/img/iPhone.jpeg"/>
      </div>
      <div>
        <div class="div-principio">
          <h1>iPhone 15 Ultra</h1>
          <h2>Sistema operativo</h2>
        </div>
        <div class="divider">
          <h3>1948</h3>
          <hr>          
        </div>
      </div>
    </div> 
    <div class="contenedor-conversaciones"#conversacionesContainer >
     
    <div *ngFor="let mensaje of conversacion" class="mensaje" [class.emisor]="mensaje.emisor" [class.receptor]="!mensaje.emisor">
      <p>{{ mensaje.mensaje }}</p>
    </div>
      
    </div>
    <div class="botones-container">
      <ion-button shape="round" class="boton-salir" (click)="navegarAtras()">Salir</ion-button>
      <ion-button shape="round" class="boton-continuar" [class.boton-desactivado]="!hayMensajesPorAgregar()" (click)="agregarMensaje()">Continuar</ion-button>
    </div>
  </div>
</ion-content>