<div *ngIf="mostrarSegundaParte">
  <!-- botón para regresar a la primera parte del registro -->
  <ion-buttons class="button-back">
    <ion-button (click)="regresarPrimeraParte()" fill="clear">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</div>

<ion-content [fullscreen]="true">
  <div class="container">

    <div class="div-imagen">
      <img src="../../assets/img/buho-logo.svg" />
    </div>

    <h1>Registro</h1>
    
    <form *ngIf="!mostrarSegundaParte">
      <ion-item class="ion-item-inputs">
        <ion-input class="a" type="text" label="Nombre de usuario" labelPlacement="floating" placeholder="Nombre de usuario"
          [(ngModel)]="username" name="username"></ion-input>
      </ion-item>

      <ion-item class="ion-item-inputs">
        <ion-input class="a" type="text" label="Nombre" labelPlacement="floating" placeholder="Nombre"
          [(ngModel)]="name" name="name"></ion-input>
      </ion-item>

      <ion-item class="ion-item-inputs">
        <ion-input class="a" type="text" label="Apellido" labelPlacement="floating" placeholder="Apellido"
          [(ngModel)]="lastName" name="lastName"></ion-input>
      </ion-item>

      <ion-item class="ion-item-inputs">
        <ion-input class="a" type="text" label="Cedula" labelPlacement="floating" placeholder="Cedula"
          [(ngModel)]="cedula" name="cedula"></ion-input>
      </ion-item>

      <ion-button class="button-round" expand="full" (click)="mostrarSegundaParteForm()" >Continuar</ion-button>
    </form>

    <form (submit)="submitRegister()" *ngIf="mostrarSegundaParte">

      <ion-list>
        <ion-item class="ion-item-inputs">
          <ion-select interface="popover" class="a" type="text" label="Año" labelPlacement="floating"
            placeholder="Escoga su Año" [(ngModel)]="level" name="level">
            <ion-select-option>1</ion-select-option>
            <ion-select-option>2</ion-select-option>
            <ion-select-option>3</ion-select-option>
            <ion-select-option>4</ion-select-option>
            <ion-select-option>5</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="ion-item-inputs">
          <ion-select interface="popover" class="a" type="text" label="Facultad" labelPlacement="floating"
            placeholder="Escoga su facultad" [(ngModel)]="selectedFacultad" name="selectedFacultad" (ionChange)="obtenerCarreras(selectedFacultad)">
            <ion-select-option *ngFor="let facultad of facultades" [value]="facultad.id">{{ facultad.nombre }}</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-list>

      <ion-list>
        <ion-item class="ion-item-inputs">
          <ion-select interface="popover" id="carreraSelect" class="ion-valid" type="text" label="Carrera" labelPlacement="floating"
            placeholder="Escoga su carrera" [(ngModel)]="selectedCarrera" name="selectedCarrera" [disabled]="false">
            <ion-select-option *ngFor="let carrera of carreras" [value]="carrera.id">{{ carrera.nombre }}</ion-select-option>

          </ion-select>
        </ion-item>
      </ion-list>

      <ion-item class="ion-item-inputs">
        <ion-input type="{{ showPassword ? 'text' : 'password' }}" label="Contraseña" labelPlacement="floating"
          placeholder="Contraseña" [(ngModel)]="password" name="password"></ion-input>
        <ion-icon [name]="showPassword ? 'eye-off-sharp' : 'eye-sharp'" slot="end"
          (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>

      <ion-item class="ion-item-inputs">
        <ion-input type="{{ showPassword2 ? 'text' : 'password' }}" label="Repetir contraseña" labelPlacement="floating"
          placeholder="Repetir contraseña" [(ngModel)]="passwordRepet" name="passwordRepet"></ion-input>
        <ion-icon [name]="showPassword2 ? 'eye-off-sharp' : 'eye-sharp'" slot="end"
          (click)="togglePasswordVisibility2()"></ion-icon>
      </ion-item>

      <ion-button class="button-round" expand="full" type="submit" >Registrarme</ion-button>
    </form>

    <div class="space-login">
      <hr class="divider divider1">
      <div class="div-no_reg">
        <a (click)="goToLogin()">Ya tienes cuenta? <span class="spn_reg">INICIA SESIÓN</span></a>
      </div>
      <hr class="divider divider2">
    </div>

  </div>

  <!-- <div class="nombre">
  <h3>Museo<br>Tecnología en el tiempo</h3>
</div> -->

</ion-content>
