ion-back-button {
    --icon-font-size: 35px;
    --icon-margin-top: 15px;
}

ion-modal {
    opacity: 0.99;
}

.ion-padding ion-label {
    font-family: 'inter-regular';
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.divider1 {       
    border-top: 1px solid var(--ion-color-dorado);
    margin: 20px 15px;
}

.list-md {
    padding-top: 0px;
    padding-bottom: 0px;
    background: var(--ion-color-negro);
}

.container {
    display: flex;   
    margin-bottom: 15px; 
}

.info {
    margin-left: 10px;
}

ion-label.nomHora.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    margin: 0px;
}

.nombre{
    font-family: 'inter-regular';
    font-size: 12px;
}

.hora {
    margin-left: 10px;
    font-family: 'inter-regular';
    font-size: 10px;
    opacity: 0.4;
}

.comments {
    margin: 0;
}

.responses {
    font-family: 'inter-semibold';
    font-size: 10px;
    margin: 0;
}

ion-label.dividerViewR.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
    margin: 0;
}

.divider2 {
    border-top: 2px solid var(--ion-color-dorado);
    width: 18%;
}

.viewResponses {
    font-family: 'inter-semibold';
    font-size: 10px;
}

/*
.container ion-avatar {
  grid-column: 1; 
  grid-area: "col1";
}

.container .nomHora, .container .comments, .container .responses, .container .dividerViewR {
    grid-column: 2;
    gap: 10px;
    justify-self: start;
}

.divider2 {
    border-top: 1px solid var(--ion-color-dorado);
}


.container .nombre {
    grid-area: "col11";
}

.container .hora {
    grid-area: "col12";
}

.container .comments{
    grid-area: "col2";
}

.container .responses {
    grid-area: "col3";
}

.container .divider {
    grid-area: "col41";
}

.container .viewResponses {
    grid-area: "col42";
}
*/

.no-comentarios {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    font-size: 20px;
  }

ion-footer {
    display: grid;
    grid-template-columns: 16% 74% 10%;
}

ion-footer ion-avatar {
    padding: 7px;
}

ion-footer ion-icon {
    width: 70%;
    height: auto;
}