<ion-buttons slot="start">
  <ion-back-button defaultHref="/home"></ion-back-button>
</ion-buttons>  

<ion-content [fullscreen]="true">
  <img src="../../assets/img/iPhone.jpeg">
  <ion-modal
      #modal      
      [isOpen]="true"
      [initialBreakpoint]="0.02"
      [breakpoints]="[0.99, 0.02, 0.99, 0.1]"
      [backdropDismiss]="true"
      [backdropBreakpoint]="1">
      <ng-template>
        <!--ion-header>Comentarios</ion-header-->
        <ion-content class="ion-padding">

          <ion-label>Comentarios</ion-label>
          <hr class="divider1">

          <ion-list  *ngIf="comentarios.length > 0">
            <div *ngFor="let comentario of comentarios" class="container">

              <ion-avatar slot="start">
                <ion-img src="../../assets/img/Foto.jpeg"></ion-img>
              </ion-avatar>                

              <div class="info">
                <ion-label class="nomHora">
                  <h2 class="nombre">JuanitoZamora507</h2>                              
                  <h3 class="hora">1 h</h3>                
                </ion-label>              
                  
                <p class="comments">comentario</p>                
                <h4 class="responses">Responder</h4>              
  
                <ion-label class="dividerViewR">
                  <hr class="divider2">                
                  <p class="viewResponses">Ver 3 respuestas</p>
                </ion-label>              
              </div>              
                                      
            </div>
          </ion-list>

          <div *ngIf="comentarios.length === 0" class="no-comentarios">
            No hay comentarios
          </div>
             
        </ion-content>
        <ion-footer>   
          <ion-avatar slot="start">
            <ion-img src="../../assets/img/Foto.jpeg"></ion-img>
          </ion-avatar>       
          <ion-input type="text" placeholder="Agrega un comentario..." [(ngModel)]="nuevoComentario"></ion-input>         
          <ion-icon name="send-sharp" (click)="agregarComentario(nuevoComentario)"></ion-icon>
        </ion-footer>
      </ng-template>
    </ion-modal>
</ion-content>

<!--h2>{{ comentario.usuario.nombre }}</h2-->
<!--p>{{ comentario.contenido }}</p-->